each list in footerList

	nav.footer__column
	
		if list.itemList
			each doubleList in list.itemList
				h3.footer__list-header= doubleList.headerName
				ul.footer__list.list.list__horisontal
					each items in doubleList.items
						li.footer__list-item.list__item
							a(href=items.itemURL).footer__item-icon!= items.itemIcon
	
		else
			h3.footer__list-header= list.headerName
			ul.footer__list.list
				each items in list.items
					li.footer__list-item.list__item
						a(href=items.itemURL).footer__item-btn= items.itemName

article.footer__column.end
	img(src=minLogo.src, alt=minLogo.alt).footer__text-logo
	
	section.footer__address-side.address-side
		h5.address-side__header Телефон
		a.address-side__item +7 (922) 500-7-500
		a.address-side__help Заказать звонок
	
	section.footer__address-side.address-side
		h5.address-side__header E-mail
		a.address-side__item info@honeykid.ru
		a.address-side__help Связаться с нами
