ul.nav__list.list
	each items in navList

		if items.catalog
			li.nav__item.list__item#catalog
				a(href=items.href).nav__btn= items.name

				nav.nav__catalog
					ul.nav__catalog-list
						each catalog in mainList
							li
								a(href=catalog.url)= catalog.name
								each catalogSub in catalog.subList
									
									if catalogSub.headerName
										ul
											h6= catalogSub.headerName

											each subitems in catalogSub.subItems
												li
													a(href="#")= subitems.name
									
									else
										ul
											each subitems in catalogSub.subItems
												li
													a(href="#")= subitems.name


		else
			li.nav__item.list__item
				a(href=items.href).nav__btn= items.name

ul.nav__soc-net.list
	small.nav__small-text Мы в сообществах:
	li.nav__soc-item.list__item.vk
		a(href="#").nav__soc-btn
			i(class="fa fa-vk fa-fw" aria-hidden="true")
	li.nav__soc-item.list__item.insta
		a(href="#").nav__soc-btn
			i(class="fa fa-instagram fa-fw" aria-hidden="true")
	li.nav__soc-item.list__item.pin
		a(href="#").nav__soc-btn
			i(class="fa fa-pinterest fa-fw" aria-hidden="true")