.wrap(data-sticky-container)
	nav.sidebar(data-sticky, data-margin-top="0.8", data-top-anchor="logo:bottom")
		ul.sidebar__list.list.style-elem
			each items in mainList

				if items.disable
					li.sidebar__item.list__item.disable
						.sidebar__button
							span.sidebar__text= items.name

				else
					li.sidebar__item.list__item
						a(href=items.url).sidebar__button
							span.sidebar__text= items.name
							i(aria-hidden="true").sidebar__shevron.fa.fa-angle-right

						.style-sub-elem
							each sub in items.subList
								ul.sidebar__sub-list.sub-list
								
									if sub.headerName
										h6.sub-list__header= sub.headerName
										each subitems in sub.subItems
											li.sub-list__item 
												a(href="#").sub-list__button
													span= subitems.name
									
									else
										each subitems in sub.subItems
											li.sub-list__item 
												a(href="#").sub-list__button
													span= subitems.name


					
						//- else
						//- 	each subitems in items.subList.subItems
						//- 		li.sub-list__item 
						//- 			a(href="#")
						//- 				span= subitems.name